@import "tailwindcss";

:root {
  --color-background: #f8f9fa;
  --color-text: #212529;
  --color-primary: #367b8b;
  --color-accent: #fbc53e;
  --color-neutral-light: #f1f3f5;
  --color-neutral-medium: #dee2e6;
  --color-white: #ffffff;
  --color-gray-500: #6c757d;

  --shadow-subtle: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

@theme inline {
  --color-background: var(--color-background);
  --color-text: var(--color-text);
  --color-primary: var(--color-primary);
  --color-accent: var(--color-accent);
  --color-white: var(--color-white);
  --color-gray-500: var(--color-gray-500);

  --color-neutral-light: var(--color-neutral-light);
  --color-neutral-medium: var(--color-neutral-medium);

  --font-heading: var(--font-manrope);
  --font-body: var(--font-inter);
  --shadow-subtle: var(--shadow-subtle);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
}
